$wihte: #fff;
$black: #000;
$mercury: #e8e8e8;
$alto: #d4d4d4;
$gray: #414141;
$tundora: #4b4b4b;
$alto: #d4d4d4;
$tenn: #da5700;
$tenn-hover: #994107;
$blue: #0245ce;
$blue-hover: #032c7c;
$bg: #2f2f2f;
$bg-order: #eee;
$bg-opas: rgba(47, 47, 47, 0.56);
// %title-font{
// 	font-family: 'Montserrat', sans-serif;
// 	font-weight: 700;
// }

// @extend %title-font;
