.hero {
  background-color: $bg;
  background-image: url("../../images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 960px;
  width: 100%;
  position: relative;

  &__inner {
    position: relative;
    display: flex;
  }
  &__blue {
    position: absolute;
    background-color: $blue;
    opacity: 0.8;
    max-width: 216px;
    width: 100%;
    left: 1086.5px;
    top: 0px;
    height: 1004px;
    z-index: 0;
  }
  &__tenn {
    position: absolute;
    max-width: 442px;
    width: 100%;
    left: 760.5px;
    top: 347px;
    height: 355px;
    background-color: $tenn;
    z-index: 2;
  }
  &__tundora {
    position: absolute;
    max-width: 378px;
    width: 100%;
    left: 778.5px;
    top: 245px;
    height: 560px;
    background-color: $tundora;
    z-index: 3;
  }
  &__image {
    position: absolute;
    left: 737.5px;
    top: 157px;
    max-width: 432px;
    width: 100%;
    height: 648px;
    z-index: 4;
    img {
      margin: 0 auto;
    }
  }
  &__content {
    margin-top: 244px;
    display: flex;
    flex-direction: column;
    z-index: 8;
  }
  &__title {
    font-size: 42px;
    line-height: 55px;
    color: $wihte;
    font-weight: 700;
    max-width: 645px;
    margin-bottom: 34px;
    span {
      color: $tenn;
    }
  }
  &__descr {
    max-width: 685px;
    font-size: 23px;
    line-height: 36px;
    font-weight: 500;
    color: $wihte;
    margin-bottom: 75px;
  }
  &__btn {
    margin-bottom: 75px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__support {
    color: $wihte;
    font-size: 20px;
    line-height: 31px;
    font-weight: 300;
    max-width: 233px;
  }
  &__item {
    width: 61px;
    height: 58px;
    background-color: $blue;
  }
}
